<% include header.ejs %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.ejs">Projects</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="#">Placeholder</a>
            </li>

        </ul>
    </div>
</nav>
    <div class="container list-group">
        <br class="col-12">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-5">
                    <label ><b>Project Name:</b></label>
                    <label >Test Project</label>
                </div>
                <div class="col-md-5">
                    <label ><b>Start Date:</b></label>
                    <label >03/02/2019</label>
                </div>

                <div class="col-md-5">
                    <label class="m-1"><b>End Date:</b></label>
                    <label>05/02/2019</label>
                </div>
                <div class="col-md-5">
                    <label class="m-1"><b>Estimation:</b></label>
                    <label>10 units</label>
                </div>
            </div>
            <div>
                <br class="col-md-12">
                <div class="float-left text-center"><a class="m-2 btn-lg btn-danger" href="/project/edit/1">Back</a></div>
            </div>
        </div>
    </div>
<% include footer.ejs %>